
/* all font-family */
  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Merriweather&display=swap');
 
/* common css related style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-primary{
    padding: 15px 30px;
    background-color: #C3852F ;
    border-radius: 5px;
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background-color: transparent;
    border: 2px solid #C3852F;
    color: #C3852F;
    cursor: pointer;
}
.paragraph-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 400px;
}

/* main container related style */
.main-container{
    padding: 50px 140px 120px;
}

/* header related style */
.header{
    height: 80vh;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter:saturate(10px);
    border-radius: 15px;
    padding: 177px 344px;
}

.header > .new-year{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 400;
}
.header > .new-party{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* all-categories-section related style */
.all-categories-section{
    margin: 120px;
    text-align: center;

}
.all-categories-section > .parcent-off{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 88px;
    font-weight: 700;
}
.all-categories-section > .our-holyday{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 45px;
}
.all-categories-section > .all-categories{
    color: #070211;
    text-align: center;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    margin-top: 15px;
}
.new-year-img-border > .new-year-image{
    width: 750px;
    height: 450px;
    margin-top: 48px;
}

/* welcome party image ralated style */
.welcome-party{
    margin-top: 120px;
    height: 75vh;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Group\ 70.png'), url('../Images/Vectorrr.png');
    background-position: center, center right 15%;
    background-size: cover, 25%;
    background-repeat: no-repeat, no-repeat;
    padding: 75px 450px 142px 125px;
}
.welcome-party > .welcome-midnight-title{
    color: #FFF;
    font-family: 'Merriweather';
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}
.welcome-party > .welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin: 24px 0px 48px 0px;
}



/* place-date-time-section css ralated style*/
.place-date-time-section{
    margin-top: 120px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 385px 110px;
    height: 442px;
    text-align: center;
}
.place-date-time > h2 > span{
    color: #F00;
    text-align: center;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.place-date-time > h2{
    color: #070211;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
#button-place-date-time{
    margin-top: 45px;
    background-color: #F00;
}
#button-place-date-time:hover{
    border-color: #F00;
    background-color: transparent;
    color: #F00;
}


/* coming-soon-section css ralted style */
.coming-soon-section{
    margin-top: 120px;

}
.coming-soon-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.coming-soon-section > .offer-coming-soon{
    width: 550px;
    margin: 25px 0;
}
.offer-coming-soon > .new-best-offer{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.offer-coming-soon > .coming-soon{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming-soon-image > img{
    width: 360px;
    height: 360px;
    border: 15px solid #F00;
    border-radius: 100%;
    padding: 30px;
}

.happy-new-year{
    color: #F00;
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
}
.happy-new-year-image{
    margin-top: 40px;
}
.happy-new-year-image > img{
    width: 140px;
    height: 140px;
}

/* holiday-sale-function css style */
.holiday-sale-function{
    margin-top: 120px;
    text-align: center;
    position: relative;
    height: 995px;
}
.holiday-sale-function-descriptin > .functional{
    color: #070211;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.holiday-sale-function-descriptin > .holiday-sale{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
    margin: 20px 0;
}
.holiday-sale > span{
    color: #F00;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 72px;
    font-weight: 900;
}
.holiday-sale-function-descriptin > .holiday-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    padding: 0px 100px;
}
.holiday-all-image{
    margin-top: 65px;
    position: absolute;
    padding: 50px 0px;
    z-index: -100;
    
}
.holiday-all-image > .red-bg{
    position: absolute;
    margin: 433px 0px;
    width: 1240px;
} 
.holiday-all-image > .gift{
    position: absolute;
    width: 600px;
    margin: 115px 10px;
}
.holiday-all-image > .holiday-img-woman{
    position: absolute;
    margin: 0px 810px;
}
.holiday-all-image > .holiday-discount{
    position: absolute;
    margin: 72px 654px;
}

/* awesome-portfolio-images-section css related style */
.awesome-portfolio-images-section{
    margin-top: 120px;
}
.the-best-gifts{
    color: #F00;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}
.awesome-portfolio-title{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 22px 0;
}
.awesome-portfolio-description{
    width: 895px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.awesome-images-box{
    display: flex;
    gap: 25px;
    margin-top: 25px;
}
.awesome-images-box > .awesome-images-zoom{
    overflow: hidden;
    width: 397px;
    height: 415px;
    border-radius: 16px;
    cursor: pointer;
}
.awesome-images-zoom > img{
    width: 397px;
    height: 415px;
    transition: all 1s ease;
}
.awesome-images-zoom:hover > img{
    transform: scale(2);
}

/* subscribe-newsletter-section css related style */
.subscribe-newsletter-section{
    margin-top: 120px;
    padding: 80px 212px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
}
.newsletter-box-img > img{
    height: 150px;
    width: 150px;
}
.subscribe-description > .subscribe-description-title{
    color: #070211;
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 40px 0px 20px 0;
}
.subscribe-description > .subscribe-description-p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.subscribe-searchbox{
    margin-top: 48px;
}
.subscribe-searchbox > input[type="email"]{
    width: 438px;
    padding: 25px 30px;
    background-color: #FFF;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 400;
    outline: none;
}
.subscribe-searchbox > input[type="button"]{
    padding: 24px 50px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: 0;
    position: relative;
    right: 6px;
    cursor: pointer;
}
.footer{
    height: 609px;
    background: #070211;
    padding: 120px 140px;
}
.footer > hr{
    background: rgba(255, 255, 255, 0.15);
    height: 1px;
    border: 0;
}
.footer-box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footer-box1 > .footer-box1-description > p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    width: 400px;
}
.footer-box1 > .footer-contract{
    margin-right: 135px;
}
.footer-box1 > .footer-contract > a{
    text-decoration: none;
    display: block;
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-contract > a > img{
    margin-right: 10px;
}

.footer-icon{
    padding: 48px 0px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-box3{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-box3 > p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 500;
}